# npm dependency directory
node_modules
*.log
*.gz

# optional npm cache directory
.npm

# optional REPL history
.node_repl_history

# .env
.env
.env.test

# coverage directory
coverage

# apiDoc directory
apidoc

# log folders
__logs__

# .DS_Store
.DS_Store